#App a:hover,
#App a:active,
#App a:focus {
  text-decoration: none;
  color: #94109F;
  outline: none;
}
#App a {
  color: #ffffff;
}
#App input,
#App button,
#App a {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#App input:focus, #App input:active, #App input:hover,
#App button:focus,
#App button:active,
#App button:hover,
#App a:focus,
#App a:active,
#App a:hover {
  outline: none;
}
#App input[type=file] {
  height: auto;
  padding: 6px 0.75rem;
}
#App input[type=text],
#App input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#App .header {
  background-color: #36043A;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1039;
  height: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#App .sidebar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  top: 50px;
  width: 230px;
  z-index: 1039;
  background-color: #94109F;
  bottom: 0;
  margin-top: 0px;
  position: fixed;
  left: 0;
  transition: all 0.2s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
  overflow: hidden;
}
#App .sidebar.opened {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#App .page_wrapper {
  left: 0;
  padding-top: 50px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#App .page_wrapper > .content {
  padding: 30px;
}
#App .content {
  margin-top: -30px;
}

/*-----------------
5. Header
-----------------------*/
#mainNav {
  width: 100%;
  height: 100%;
}
#mainNav a {
  font-style: none;
  text-decoration: none;
}
#mainNav #header_left, #mainNav #header_right {
  height: 100%;
}
#mainNav #header_right {
  width: 280px;
}
#mainNav #header_left {
  float: left;
  text-align: center;
  position: relative;
  z-index: 1;
}
#mainNav #header_left article, #mainNav #header_left aside {
  height: 100%;
}
#mainNav #header_left aside {
  width: 50px;
}
#mainNav #header_left article {
  float: left;
}
#mainNav #header_left article .logo {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: left;
}
#mainNav #header_left article .logo span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}
#mainNav #header_left article .logo img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  max-height: 40px !important;
  min-height: 40px !important;
  margin-left: 5px;
}
#mainNav #header_left aside {
  float: right;
}
#mainNav #header_left aside .toggleSidebar {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  padding-top: 7px;
}
#mainNav #header_left aside .toggleSidebar img {
  width: 40px !important;
  height: auto !important;
}
#mainNav #header_right {
  float: right;
  text-align: right;
}
#mainNav #header_right ul {
  width: 180px;
  list-style-type: none;
  overflow: hidden;
  margin-right: 100px;
  margin-top: 5px !important;
}
#mainNav #header_right ul li {
  margin-right: 10px;
  display: inline-block;
  width: 50px;
  height: 50px !important;
}
#mainNav #header_right ul li h4 {
  color: #571616;
}
#mainNav #header_right ul li #theHead {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  position: relative;
}
#mainNav #header_right ul li #theHead i {
  font-size: 19px;
}
#mainNav #header_right ul li #theHead .badge {
  color: rgb(187, 160, 7);
  top: 0px;
  position: absolute;
}
#mainNav #header_right ul li #theHead .img {
  height: 25px !important;
  width: 25px !important;
  border-radius: 50% !important;
}
#mainNav #header_right ul li:hover {
  background-color: rgba(128, 128, 128, 0.678);
  border-radius: 5px;
}
#mainNav #header_right ul li#user:hover .dropdown_menu.user {
  display: block;
}
#mainNav #header_right ul li#messages:hover .dropdown_menu.messages {
  display: block;
}
#mainNav #header_right ul li#notifications:hover .dropdown_menu.notifications {
  display: block;
}
#mainNav #header_right ul .dropdown_menu {
  display: none;
  position: absolute;
  z-index: 9999;
  min-width: 150px;
  max-width: 300px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.9529411765);
  border: 1px solid #ddd;
  padding: 10px;
  top: 48px;
  right: 15px;
  border-radius: 5px;
}
#mainNav #header_right ul .dropdown_menu .heading {
  width: 100%;
}
#mainNav #header_right ul .dropdown_menu .heading h4 {
  width: 60%;
  padding-left: 5px;
  float: left;
  text-align: left;
}
#mainNav #header_right ul .dropdown_menu .heading span {
  width: 30%;
  float: right;
  text-decoration: underline;
}
#mainNav #header_right ul .dropdown_menu .heading span Link, #mainNav #header_right ul .dropdown_menu .heading span a {
  color: rgb(39, 25, 0);
}
#mainNav #header_right ul .dropdown_menu tr {
  color: rgb(1, 1, 46);
}
#mainNav #header_right ul .dropdown_menu table {
  width: 100%;
  margin: 0;
}
#mainNav #header_right ul .dropdown_menu table tr {
  border-bottom: 1px solid red;
  width: 100%;
  height: 20px;
  margin-bottom: 5px;
  background-color: rgba(221, 221, 221, 0.2862745098);
}
#mainNav #header_right ul .dropdown_menu table tr p {
  margin: 0;
  height: 18px;
  padding-bottom: 2px;
}
#mainNav #header_right ul .dropdown_menu table tr td {
  width: 70%;
  max-width: 70%;
  padding: 0;
  margin: 0;
}
#mainNav #header_right ul .dropdown_menu table tr td.alert {
  height: 18px;
  width: 100%;
  max-width: 100%;
  text-align: left;
}
#mainNav #header_right ul .dropdown_menu table tr td.alert, #mainNav #header_right ul .dropdown_menu table tr td p:last-child {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
#mainNav #header_right ul .dropdown_menu table tr td p {
  width: 100%;
  text-align: left;
  height: 18px;
}
#mainNav #header_right ul .dropdown_menu table tr td p:last-child {
  max-width: 100%;
}
#mainNav #header_right ul .dropdown_menu table tr td:first-child, #mainNav #header_right ul .dropdown_menu table tr td:last-child {
  width: 15%;
}
#mainNav #header_right ul .dropdown_menu table tr td:last-child i {
  color: #571616;
}
#mainNav #header_right ul .dropdown_menu table tr#message td:first-child {
  width: 15%;
}
#mainNav #header_right ul .dropdown_menu table tr#message td:last-child {
  width: 85%;
}
#mainNav #header_right ul .dropdown_menu table i {
  font-size: 12px;
  padding-top: 10px;
}
#mainNav #header_right ul .dropdown_menu table button {
  border: 1px solid rgba(255, 255, 255, 0);
}
#mainNav #header_right ul .dropdown_menu.user {
  background-color: #f1f1f1;
  border: 1px solid #c7c7c7;
  padding: 5px 10px;
}
#mainNav #header_right ul .dropdown_menu.user .user_header {
  padding: 10px 15px;
}
#mainNav #header_right ul .dropdown_menu.user .user_header .avatar p:first-child {
  font-weight: bold;
}
#mainNav #header_right ul .dropdown_menu.user .user_header .avatar img {
  width: 100px;
  height: 100px;
}
#mainNav #header_right ul .dropdown_menu.user table tr {
  width: 100%;
  background-color: rgba(255, 255, 0, 0);
}
#mainNav #header_right ul .dropdown_menu.user table tr td:last-child {
  text-align: left;
  width: 90%;
}
#mainNav #header_right ul .dropdown_menu.user table tr td:first-child {
  text-align: right;
  width: 10%;
  padding: 0;
}
#mainNav #header_right ul .dropdown_menu.user table tr td:first-child i {
  font-size: 20px;
  padding: 0;
}

@media screen and (max-width: 900px) {
  #mainNav {
    width: 100%;
    height: 100%;
  }
  #mainNav a {
    font-style: none;
    text-decoration: none;
  }
  #mainNav #header_left, #mainNav #header_right {
    height: 100%;
  }
  #mainNav #header_right {
    width: 174px;
  }
  #mainNav #header_right {
    float: right;
    text-align: left;
    align-items: left;
    padding: 0;
  }
  #mainNav #header_right ul {
    margin-left: 0;
    height: 70%;
    width: 174px;
    align-items: center;
    text-align: center;
    padding-left: 0;
  }
  #mainNav #header_right ul li {
    margin-right: 3px;
    width: 50px;
  }
}
#authenticate {
  margin-top: 30px;
  width: 90%;
  height: 600px;
  background-color: rgba(161, 139, 139, 0.062);
  margin-left: 5%;
}
#authenticate article,
#authenticate aside {
  width: 50%;
  height: 100%;
}
#authenticate article {
  float: left;
  text-align: center;
  overflow: hidden;
  background-image: url("../../img/login/scouts.jpg");
  background-size: cover;
  background-position: center;
}
#authenticate aside {
  float: right;
  background-color: #aca5a5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#authenticate aside form {
  padding: 10px 5px;
  background-color: rgba(255, 255, 255, 0.329);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#authenticate aside form .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
#authenticate aside form .circle img {
  width: 100%;
  height: 100%;
}
#authenticate aside form h3 {
  margin-top: 5px;
  text-align: center;
}
#authenticate aside form h4 {
  text-align: center;
}
#authenticate aside form a {
  color: #36043A;
}
#authenticate aside form label {
  display: block;
  margin-top: 2px;
  width: 80%;
}
#authenticate aside form label input {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0;
}
#authenticate aside form label p {
  text-align: left;
}
#authenticate aside form button {
  background-color: #36043A;
  color: white;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  margin-top: 20px;
}
#authenticate aside form button:hover {
  opacity: 1;
}
#authenticate aside form#signup hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
#authenticate aside form#signup button:hover {
  opacity: 1;
}

.page_wrapper {
  margin-left: 0;
}

@media screen and (max-width: 1200px) {
  #authenticate {
    margin-top: 20px;
    height: 620px;
  }
  #authenticate article {
    width: 45%;
  }
  #authenticate aside {
    width: 55%;
  }
}
@media screen and (max-width: 800px) {
  #authenticate {
    margin-top: 5px;
    height: 620px;
  }
  #authenticate article {
    display: none;
  }
  #authenticate aside {
    height: 100%;
    width: 100%;
    float: left;
  }
}

/*# sourceMappingURL=authenticate.module.css.map */
