#Funding {
  margin-top: 30px;
  height: auto;
  width: 94.5%;
  text-align: center;
  background-color: white;
}
#Funding section {
  padding-bottom: 30px;
  padding: 30px 1%;
  width: 98%;
}
#Funding section h4, #Funding section h5 {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 80%;
  text-align: left;
}
#Funding section h4 a {
  color: black;
  text-decoration: underline;
}
#Funding section article, #Funding section h4 {
  width: 80%;
  text-align: left;
  align-items: left;
  margin-left: 10%;
}
#Funding #fund_projects, #Funding #fund_timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 100%;
  height: auto;
}
#Funding #fund_projects div, #Funding #fund_timeline div {
  text-align: left;
  width: 100%;
}
#Funding #fund_projects .chartjs-render-monitor, #Funding #fund_timeline .chartjs-render-monitor {
  width: 80%;
  height: auto;
}
#Funding #fund_projects table, #Funding #fund_timeline table {
  margin-top: 15px;
  border-collapse: collapse;
  width: 100%;
}
#Funding #fund_projects table tr, #Funding #fund_timeline table tr {
  height: 30px;
}
#Funding #fund_projects table tr td, #Funding #fund_projects table tr th, #Funding #fund_timeline table tr td, #Funding #fund_timeline table tr th {
  border: 1px solid #838383;
  text-align: left;
  padding: 8px;
  height: 100%; /* Set the height of td to 100% */
}
#Funding #fund_projects table tr:nth-child(odd), #Funding #fund_timeline table tr:nth-child(odd) {
  background-color: rgba(170, 169, 169, 0.02);
}
#Funding #fund_projects table tr:nth-child(even), #Funding #fund_timeline table tr:nth-child(even) {
  background-color: rgba(170, 169, 169, 0.1);
}
#Funding #fund_projects table thead, #Funding #fund_timeline table thead {
  border-radius: 5px;
}
#Funding #fund_projects table th, #Funding #fund_timeline table th {
  font-weight: bold;
  text-align: center;
  background-color: #838383;
  color: white;
}
#Funding #fund_projects table td .action, #Funding #fund_timeline table td .action {
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  background-color: none;
}
#Funding #fund_projects table td .action_content, #Funding #fund_timeline table td .action_content {
  display: none;
  overflow: hidden;
}
#Funding #fund_projects table td .action_content.show, #Funding #fund_timeline table td .action_content.show {
  display: block;
  width: 100%;
}
#Funding #fund_projects .chart_container, #Funding #fund_timeline .chart_container {
  margin-top: 2rem;
  padding: 1rem;
  width: 90%;
  margin-left: 0%;
  height: 400px;
}
#Funding #fund_projects .chart_container.projects, #Funding #fund_timeline .chart_container.projects {
  height: 250px;
}
@media (max-width: 1024px) {
  #Funding #fund_projects, #Funding #fund_timeline {
    width: 95%;
  }
}
@media (max-width: 768px) {
  #Funding #fund_projects, #Funding #fund_timeline {
    width: 100%;
  }
}
@media (max-width: 480px) {
  #Funding #fund_projects .chart_container, #Funding #fund_timeline .chart_container {
    height: 200px;
  }
  #Funding #fund_projects .chart_container.projects, #Funding #fund_timeline .chart_container.projects {
    height: 150px;
  }
}
@media (max-width: 480px) {
  #Funding article:last-child {
    margin-top: -200px;
  }
  #Funding article, #Funding h4 {
    width: 95%;
    margin-left: 2.5%;
  }
}

/*# sourceMappingURL=Funding.module.css.map */
