#SMS, #Email {
    width: 100%;height: 100%;
  #chat_window, #message_board {
    padding: 10px;
    overflow: hidden;
    height: 100%; 
    border: 1px solid #66666649;

  }
  #message_board {
    width: 25%;overflow-y: auto;
    background-color: #f2f2f2; //border: 1px solid #6666661e;
    .search_bar{
      margin-bottom: 20px;
      width: 100%; height: 30px;
      input, button{
        border-radius:5px;
      }
      input{
        background-color: #b9b9b9;
        border:1px solid #66666652;
        width:80%;
        height: 100%;cursor: pointer;
      }
      button{
        width: 10%;border: none;
        background-color: none;
        color:brown; text-decoration: underline;
      }
    }
    ul {
      padding: 10px;
      border-bottom: 1px solid #ccc;
      list-style-type: none;
      margin-top: -12px;
      li{
        cursor: pointer;
        height: 16px;
      }
      cursor: pointer;height: 48px;
      &:hover {background-color: #e6e6e6;}
      &.active {background-color: #d9d9d9;}
      .sender, .position {
        font-weight: bold;
        margin-top: 0;text-align: left;
      }
      .content {
        margin: auto;
        text-align: left;white-space: nowrap;
        overflow: hidden;text-overflow: ellipsis;
        display: block; /* ensure the div takes up the full width */
        max-width: 100%; /* ensure the div doesn't overflow horizontally */
      }
      .timestamp {
        font-size: 0.8em;color: #666;
        margin: auto;text-align: right;
      }
    }
  }  
  #chat_window {
    z-index: 1;
    width: 71%;overflow-y: auto;
    margin-left: 27%;margin-top: -51.3%;
    background-color: #FFFFFF; //border: 1px solid #666;
    .chat {
      display: flex;height: 100%;
      flex-direction: column;
      height: 480px;
      .the_head{
        width:50px;border-radius:5px;
        background-color: #9c9c9c9d;
        padding: 4px 2px;
        &.email{width: 90px;}
      }
      .email_view{
        width: 96%;margin-left: 2%;
        margin-top: 5px;height: 360px;
        article,aside{width: 50%;height: 60px;}
        article{
          float: left;text-align: left;
          img{border-radius: 50%;height: 40px;width: 40px;}
        }
        aside{
          float: right;text-align: right;
          i{color: #221818;font-size: 23px;}
        }
        aside p{
          margin-left: 5px;
          margin-top: 10px;
        }
        .body.email{margin-left: 10%;width: 80%;text-align: left;}
      }
      .the_message.email{margin-top: 20px;}
      .the_message{
        width: 100%;padding-top: 20px;
        h3{font-size: 14px;}
      }
      .sender {
        font-weight: bold;margin-bottom: 10px;
      }
      .messages {
        flex-grow: 1;overflow: auto;
        padding-top: 10px;padding-bottom: 10px;
        list-style-type: none; 
        .message {
          padding: 15px;margin-bottom: 10px;
          .content {margin-bottom: 5px;}
          .timestamp {
            font-size: 0.8em;color: #666;
          }
        }
      }
      .input {
        width: 90%;margin-left: 10%;
        padding-top: 10px;padding-bottom: 10px;
        textarea,button {padding: 5px;}
        textarea {
          width: 80%;height: auto;
          min-height: 50px;max-height: 150px;
          overflow: auto;white-space: pre-wrap;
        }
        button {
          width: 80px;margin-left: 10px;
        }
      }
    }
    #new_form_container{
      background-color: #ffffff;
      position: relative;z-index: 1;
      margin-top: -480px;
      height: 480px;
      .container{
        margin-top: 7px;
        border-radius: 5px; border: 1px solid #4b4b4b3f;
        height: 460px;
        text-align: left;
        &.sms{border: 0px solid transparent;}
        .the_head{
          height:50px;margin-top: 0;
          background-color: hsla(0, 1%, 82%, 0.6);
          border-bottom: 1px solid rgba(95, 94, 94, 0.219);
          box-shadow: 0px 2px 20px -10px #53515133;
          &.sms{background-color: hsla(0, 1%, 82%, 0);}
        }
        aside, article{width: 50%;}
        aside{float: right;}
        article{float: left;}
        article, aside{
          height: 100%;
          h4{
            font-size: 16px;color: black;
            font-weight:normal;
            height: 20px;padding-left: 10px;
            padding-top: 15px;
          }
          
        }
      }
      &.sms{
          width: 100%;
          border: 0px solid rgba(255, 0, 0, 0);
          
          .the_head{
            background-color: none;
          }
        }
        .recipient,.the_subject{
          height: 40px;
          border-bottom: 1px solid rgba(95, 94, 94, 0.082);
          margin:0px 3px;
          padding-left: 2px;
        }
        .body{
          height: 280px;width:100%;
          padding-left: 2px;
          &.sms{
            height:330px
          }
        }
        .the_footer{
          height:50px;margin-bottom: 0px;
          background-color: hsla(0, 2%, 73%, 0.096);
          border-top: 1px solid rgba(95, 94, 94, 0.26);
          box-shadow: 10px 0px 20px -10px #22181850;
        }
        button{
          &#send{
          background-color: #38023D;
          padding:5px;border-radius: 5px;
          width: 80px; height: 30px;
          margin-top: 8px;margin-left: 5px;
          color: #ccc;
          i{font-size: 15px;margin-left: 5px;}
          }
        }
        textarea, input, select{
          background-color: transparent;
          border: none;
        }
        input, select{
          height: 80%;margin-top: 5px;width:80%;
        }
        select{width:80px}
        textarea{
          width:98%;height:95%;
          padding: 5px;
          &.sms{
            width: 80%;height: 25%;
            border: 1px solid #2218183d;
            border-radius: 5px;
            min-height: 50px;max-height: 150px;
            overflow: auto;white-space: pre-wrap;
            margin-top:170px;
            margin-left: 10px;
          }
        }
    }
  }
  .container{
    .the_head #close_button, &.sms #close_button{
        width: 90px; margin-top: 0;float: right;
        height:50px;
        background-color: #38023d00;
        border: 0px solid rgba(255, 255, 0, 0.007);
        padding: 0;
        i{
            background-color: #38023d00;
            color:#38023D;
            font-size: 19px;
        }
    }
  }
}